
out/

server/new.file
server/origin.testfile
server/origin.testfile.1.part
server/origin.testfile.2.part
server/origin.testfile.3.part
server/origin.testfile.4.part
server/origin.testfile.5.part
server/origin.testfile.6.part
server/origin.testfile.7.part
server/origin.testfile.8.part

target/
.idea/workspace.xml


